/*

Name: Horizontal Navigation
Description: Absolute baseline for horizontal navigation sets.

*/

[class*="nav--horizontal"],
.nav--horizontal {
	&:extend(.list--x all, .unstyled all);
}

/*

Name: Main Navigation List
Description: Absolute baseline for main navigation.

*/

.main-nav--list {
	&:extend(.nav--horizontal all);
}

// Main Navigation Customization
.main-nav {
	@5px: (1em * (5 / @base-text-size));
	overflow: hidden;

	&--list {
		li {
			margin-left: @5px;
			margin-right: @5px;

			&:first-of-type {
				margin-left: 0;
			}
		}
	}
}

/*

Name: Main Navigation

Description: Instead of creating a whole responsive menu, just make the navigation scrollable using native phone touch gestures. This applies when the navigation would be too long for the device width.

Example Code:
<nav class="scroll-nav">
	<ul>
		<li>Home</li>
		<li>About</li>
		<li>Services</li>
	</ul>
</nav>

*/

.scroll-nav {
	width: 1000em;
	position: relative;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}