.mobile-menu {
    .is-hidden();
}

/*

Horizontal Navigation

Description:
Absolute baseline for horizontal navigation sets.

*/

[class*="nav--horizontal"],
.nav--horizontal {
	&:extend(.list--x all, .unstyled all);
}

/*

Main Navigation List

Description:
Absolute baseline for main navigation.

*/

.main-nav__list {
	&:extend(.nav--horizontal all);
}

// Main Navigation Customization
.main-nav {
	&__list {
		margin-top: 0;

		li {
			.spacing-horizontal(padding, 5);

			&:first-of-type {
				padding-left: 0;
			}
		}
	}
}

/*

Main Navigation - Thumb Scrolling

Description:
Instead of creating a whole responsive menu, just make the navigation scrollable using native phone touch gestures. This applies when the navigation would be too long for the device width.

Example Code:
<nav class="main-nav thumb-scroll__nav">
	<ul class="">
		<li>Home</li>
		<li>About</li>
		<li>Services</li>
	</ul>
</nav>

*/

.js {
	.thumb-scroll__nav {
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
		
		// Mixins
		.spacing-single(margin-bottom, 5);

		.main-nav__list li {
			display: block;
			float: left;
		}
	}
}
